.reviews-content {
    display: flex;
    flex-direction: column;
    max-width: 960px;
    gap: 30px;
    padding: 20px;
}
.review-message {
    align-self: flex-start;
    height: 200px;
    width: 500px;
    display: flex;
    flex-direction: column;

    border: 1px solid #000000;
    border-radius: 10px;
    background-color: $hoverColor;
}

.review-message p {
    font-size: 18px;
    margin: 0;
}

.review-message span {
    font-size: 16px;
}

.review-message_flipped {
    height: 200px;
    width: 500px;
    align-self: flex-end;
    border: 1px solid #000000;
    border-radius: 10px;
    background-color: #7df9a6;
}

.reviews-message__content {
    grid-area: content;
}

.review__username {
    padding: 0;
    margin: 0;
    font-weight: bold;
}

.review__container {
    width: 40vw;
}

.review {
    height: 150px;
    padding: 10px;

    &__user {
        padding: 10px;
        height: 80px;
        display: flex;
        flex-direction: row;
        gap: 20px;
        position: relative;
    }
    &__info {
        display: flex;
        flex-direction: column;
        gap: 10px;
        justify-content: center;
    }
    &__content {
        padding: 10px;
    }

    &__avatar {
        height: 60px;
        width: 60px;
        flex-grow: 0;
        border: 1px solid $borderColor;
        border-radius: 50%;
        background-color: #fff;
    }

    &__remove {
        position: absolute;
        right: 10px;
        top: 10px;
    }
}

@media screen and (max-width: 960px) {
    .reviews-content {
        padding: 20px 16px;
    }

    .review-message {
        padding: 0 20px;
        height: auto;
    }

    .review-message p {
        font-size: 16px;
    }
    
    .review-message span {
        font-size: 14px;
    }
}

@media screen and (max-width: 720px) {
    .review-message {
        width: 80%;
    }
}

@media screen and (max-width: 540px) {
    .review-message {
        width: 90%;
        padding: 0 15px;
    }
}