@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

*[role=button] {
  cursor: pointer;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: none;
}

input ::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
  color: inherit;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*----------------------------------------*/
@font-face {
  font-family: "Manrope";
  src: url("../public/fonts/Manrope.ttf") format("truetype");
}
@font-face {
  font-family: "Railway";
  src: url("../public/fonts/Railway.ttf") format("truetype");
}
@font-face {
  font-family: "Orchidea";
  src: url("../public/fonts/OrchideaPro-Regular.ttf") format("truetype");
}
body {
  height: 100%;
  overflow: auto;
  font-family: "Orchidea", sans-serif;
}

input:focus {
  box-shadow: 0 0 5px 2px #3ac4fa;
}

#root {
  margin: 0 auto;
  min-height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.wrapper {
  width: 100%;
  flex: 1 1 auto;
}
.wrapper__header {
  margin: 0 auto;
  max-width: 1200px;
  text-align: center;
  font-size: 20px;
}
.wrapper__header p {
  width: 600px;
  margin: 0 auto;
  text-align: center;
  font-size: 20px;
}
.wrapper__filter {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 15px;
  width: 100%;
  align-items: center;
  text-align: center;
  justify-content: center;
}
.wrapper__button {
  padding: 30px 10px;
  cursor: pointer;
  font-weight: bold;
}

.appContainer {
  overflow: hidden;
  height: 100vh;
}

.container {
  max-width: 1460px;
  margin: 0 auto;
  padding: 8px;
}

.content {
  display: flex;
  margin: 0 auto;
  max-width: 1400px;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 20px;
}

.booking__button {
  margin: 10px 0;
  padding: 10px 10px;
  border-radius: 5%;
  font-size: 24px;
  font-weight: bold;
}

@media screen and (max-width: 1130px) {
  .wrapper {
    width: 100%;
  }
  .wrapper__header {
    margin: 0 auto;
    width: 100%;
    text-align: center;
    padding: 20px 30px;
    font-size: 20px;
  }
  .wrapper__header p {
    width: 100%;
  }
}
@media screen and (max-width: 720px) {
  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .wrapper__filter {
    margin-bottom: 0;
  }
  .wrapper__button {
    padding: 5px 10px;
  }
  .wrapper__header {
    padding: 20px 0;
  }
  .wrapper__header p {
    margin-bottom: 15px;
  }
}
@media screen and (max-width: 400px) {
  .wrapper__filter {
    font-size: 18px;
  }
}
.st0 {
  fill: none;
  stroke: #000000;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}

.delete-button {
  background-color: #ffffff;
  font-size: 20px;
  padding: 10px;
  border-radius: 5px;
  color: #f54545;
  font-weight: bold;
  border: 2px solid rgba(255, 0, 0, 0.7882352941);
}

.delete-button:hover {
  animation-name: hover-delete-button;
  animation-duration: 0.5s;
  background-color: #f54545;
  box-shadow: 2px 2px 5px rgba(255, 0, 0, 0.7882352941);
  color: #ffffff;
}

.info-button {
  font-size: 20px;
  border: 2px solid #1e11a9;
  padding: 10px;
  background-color: #c9e5fc;
  border-radius: 5px;
  text-align: center;
}

.info-button:hover {
  animation-name: hover-button;
  animation-duration: 0.3s;
  background-color: #8ac4fa;
  color: #ffffff;
  box-shadow: 2px 2px 5px #1e11a9;
}

@keyframes hover-delete-button {
  from {
    background-color: #ffffff;
  }
  100% {
    background-color: #f54545;
    color: #ffffff;
  }
}
.edit-button {
  stroke: #1e11a9;
  stroke-width: 2;
}
.edit-button_abs {
  position: absolute;
  align-self: flex-end;
  justify-self: end;
}

.back-button {
  grid-area: button;
  height: 4vh;
  align-self: end;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3ac4fa;
  stroke: #1e11a9;
  max-width: 150px;
  border-radius: 5px;
  padding: 10px;
}

.loader {
  width: 48px;
  height: 40px;
  margin-top: 30px;
  display: inline-block;
  position: relative;
  background: #8ac4fa;
  border-radius: 15% 15% 35% 35%;
}

.loader::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  left: 45px;
  top: 8px;
  border: 4px solid #8ac4fa;
  width: 16px;
  height: 20px;
  border-radius: 0 4px 4px 0;
}

.loader::before {
  content: "";
  position: absolute;
  width: 1px;
  height: 10px;
  color: #8ac4fa;
  top: -15px;
  left: 11px;
  box-sizing: border-box;
  animation: animloader 1s ease infinite;
}

@keyframes animloader {
  0% {
    box-shadow: 2px 0px rgba(255, 255, 255, 0), 12px 0px rgba(255, 255, 255, 0.3), 20px 0px rgba(255, 255, 255, 0);
  }
  50% {
    box-shadow: 2px -5px rgba(255, 255, 255, 0.5), 12px -3px rgba(255, 255, 255, 0.5), 20px -2px rgba(255, 255, 255, 0.6);
  }
  100% {
    box-shadow: 2px -8px rgba(255, 255, 255, 0), 12px -5px rgba(255, 255, 255, 0), 20px -5px rgba(255, 255, 255, 0);
  }
}
.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.header__top-bar {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 0 auto;
  height: 56px;
  background-color: #3ac4fa;
  font-size: 20px;
  color: white;
  box-shadow: 10px 5px 5px #8ac4fa;
  z-index: 20;
}
.header__content {
  width: 100%;
  display: flex;
  text-align: center;
  justify-content: space-between;
  align-items: center;
}
.header__contacts {
  display: flex;
  flex-direction: row;
  flex: 1 1 auto;
  width: 100%;
}
.header__mail {
  margin-left: 20px;
}
.header__navigation {
  max-width: 1200px;
  display: flex;
  justify-content: right;
  align-items: center;
  width: 100%;
  height: 100px;
  padding-left: 20px;
}
.header__links {
  display: flex;
  flex-direction: row;
}
.header__logo {
  width: 100%;
  height: 80px;
  padding-left: 20px;
  background-image: url("../public/img/logo.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left center;
}
.header__link {
  font-size: 14px;
  padding: 20px 16px;
  text-decoration: none;
  font-weight: 600;
  color: black;
  white-space: nowrap;
}
.header__button {
  background: none;
  border-radius: 20px;
  border: 1px solid #ffffff;
  font-weight: bold;
  font-size: 12px;
  padding: 5px 15px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
  margin: 8px;
}
.header__bookings {
  border: 1px solid #ffffff;
  border-radius: 5px;
  padding: 5px;
}
.header__dropdown {
  display: none;
  margin-right: 10px;
  position: relative;
  width: 30px;
  height: 20px;
  background-color: transparent;
}
.header__dropdown span {
  top: 9px;
}
.header__dropdown::before, .header__dropdown::after, .header__dropdown span {
  position: absolute;
  left: 0;
  content: "";
  height: 2px;
  width: 100%;
  background-color: #fff;
}
.header__dropdown::before {
  top: 0;
}
.header__dropdown::after {
  bottom: 0;
}

.burger__line::before {
  position: absolute;
  left: 5px;
  top: 10px;
  content: "";
  height: 2px;
  width: 80%;
}
.burger__menu {
  display: block;
  position: absolute;
  background-color: #f4f3f3;
  color: #3ac4fa;
  font-size: 16px;
  font-weight: 600;
  right: 0;
  top: 56px;
  padding: 10px;
  max-width: 320px;
  width: 100%;
  height: 100%;
}
.burger__links {
  display: flex;
  flex-direction: column;
}
.burger__link {
  padding: 15px 0;
}

@media screen and (max-width: 960px) {
  .header__link {
    padding: 20px 8px;
  }
}
@media screen and (max-width: 720px) {
  .header__content {
    justify-content: right;
    gap: 10px;
  }
  .header__contacts {
    display: none;
  }
  .header__button {
    margin-right: auto;
    max-width: 200px;
  }
  .header__button_hidden {
    display: none;
  }
  .header__dropdown {
    display: block;
  }
  .header__navigation {
    display: none;
  }
}
.banner {
  width: 100%;
  height: 300px;
  display: block;
  position: relative;
  overflow: hidden;
  margin-bottom: 50px;
}
.banner__filter {
  content: "";
  height: 300px;
  background-color: rgba(58, 196, 250, 0.46);
}
.banner__title {
  display: flex;
  text-align: center;
  align-items: center;
  content: "";
  height: 100%;
  margin: 0 0 0 350px;
}
.banner__text {
  z-index: 20;
  font-size: 60px;
  color: white;
  display: block;
  text-shadow: rgba(6, 60, 54, 0.2) 4px 3px;
}
.banner_album {
  width: 100%;
  min-height: 300px;
  background-image: url(../public/img/banner_album.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.banner_about {
  min-height: 300px;
  background-image: url(../public/img/banner_about.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.banner_contacts {
  min-height: 300px;
  background-image: url(../public/img/banner_contacts.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.banner_news {
  min-height: 300px;
  background-image: url(../public/img/banner_news.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.banner_rooms {
  min-height: 300px;
  background-image: url(../public/img/banner_rooms.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.banner_services {
  min-height: 300px;
  background-image: url(../public/img/banner_services.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.banner_luxe-11 {
  min-height: 300px;
  background-image: url(../public/img/luxe_11_1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0% 60%;
}
.banner_luxe-16 {
  min-height: 300px;
  background-image: url(../public/img/luxe_16_1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0% 60%;
}
.banner_luxe-12 {
  min-height: 300px;
  background-image: url(../public/img/luxe_12_1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0% 50%;
}
.banner_luxe-14 {
  min-height: 300px;
  background-image: url(../public/img/luxe_14_1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0% 50%;
}
.banner_luxe-15 {
  min-height: 300px;
  background-image: url(../public/img/luxe_15_1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0% 50%;
}
.banner_comfort-6 {
  min-height: 300px;
  background-image: url(../public/img/comfort_6_1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0% 60%;
}
.banner_comfort-7 {
  min-height: 300px;
  background-image: url(../public/img/comfort_7_1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0% 40%;
}
.banner_comfort-9 {
  min-height: 300px;
  background-image: url(../public/img/comfort_9_1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0% 40%;
}
.banner_econom-8 {
  min-height: 300px;
  background-image: url(../public/img/econom_8_1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0% 65%;
}
.banner_econom-5 {
  min-height: 300px;
  background-image: url(../public/img/econom_5_1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0% 80%;
}

.banner::before {
  content: "";
  width: 517px;
  height: 166%;
  position: absolute;
  top: 0;
  left: 0;
  transform: rotate(23deg);
  transform-origin: 100% 0;
  background: #3ac4fa;
}

@media screen and (max-width: 1130px) {
  .banner {
    display: none;
  }
}
.slider {
  position: absolute;
  height: 600px;
  width: 100%;
}

.image {
  position: absolute;
  background-color: rgba(0, 0, 0, 0);
  background-repeat: no-repeat;
  background-image: url(../public/img/bath.jpg);
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  opacity: 1;
  visibility: inherit;
  position: inherit;
  transform: matrix(1, 0, 0, 1, 0, 0);
}

.form {
  position: relative;
  margin: 0 auto;
  margin-top: 200px;
  max-width: 800px;
  height: 150px;
  background-color: #fff;
  border: 3px solid #3ac4fa;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.5);
  z-index: 10;
}
.form__date {
  padding: 10px;
  position: absolute;
  border-radius: 5px;
  border: 1px solid #3ac4fa;
  top: 40px;
  left: 50px;
  display: flex;
  border-radius: 1px solid black;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 50px;
  background-color: #fff;
  opacity: 100%;
}

.calendar {
  padding: 10px;
  position: absolute;
  border-radius: 5px;
  border: 1px solid #3ac4fa;
  display: flex;
  border-radius: 1px solid black;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 50px;
  background-color: #fff;
  opacity: 100%;
}

input,
button {
  font-family: "Orchidea", sans-serif;
}

.room-cards {
  gap: 40px;
  padding: 20px;
}

.room-card {
  width: 560px;
  border: 1px solid black;
  display: flex;
  gap: 25px;
  flex-direction: column;
  align-items: center;
  font-weight: bold;
  text-align: center;
  overflow: hidden;
  border-radius: 10px;
  padding-bottom: 20px;
  font-family: "Orchidea", serif;
  font-size: 18px;
}
.room-card__title {
  display: block;
  color: blue;
  font-size: 20px;
}
.room-card__image {
  width: 100%;
  height: auto;
}
.room-card__cost {
  color: blue;
  font-size: 24px;
}
.room-card__guests {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  gap: 15px;
}
.room-card__numberOfGuests {
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 2px 2px 5px #1e11a9;
}
.room-card__numberOfGuests_active {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 100px;
  border: 2px solid #0ca60c;
  font-size: 18px;
  margin-right: 0px;
  cursor: pointer;
  background-color: #04ca04;
  color: white;
  border-radius: 10%;
  box-shadow: 2px 2px 5px #0ca60c;
}
.room-card__numberOfGuests_active:hover {
  border: 2px solid #0ca60c;
  background-color: #04ca04;
  color: white;
  box-shadow: 2px 2px 5px #0ca60c;
}
.room-card__button {
  max-width: 250px;
  width: 100%;
}

.room-description {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  padding: 30px 20px;
}
.room-description__content-left {
  min-width: 320px;
  flex-grow: 1;
}
.room-description__content-right {
  position: relative;
  flex-grow: 0;
  text-align: center;
}
.room-description__properties {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.room-description__property, .room-description__amenity {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.room-description__text {
  font-size: 18px;
  font-weight: normal;
  text-align: center;
}
.room-description__icon {
  display: flex;
  align-items: center;
  margin-right: 15px;
  height: 50px;
}
.room-description__amenities {
  font-weight: bold;
}
.room-description__amenity {
  font-weight: normal;
}
.room-description__about {
  font-weight: normal;
}

@media screen and (max-width: 1220px) {
  .room-card {
    width: 100%;
    height: 100%;
    margin: 0;
  }
  .room-cards {
    padding: 0 10px 40px 10px;
  }
}
@media screen and (max-width: 720px) {
  .room-card__guests {
    align-items: start;
    justify-content: center;
  }
  .room-card__numberOfGuests_active {
    min-width: 0;
    font-size: 16px;
  }
}
.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100px;
  font-size: 16px;
  padding: 0 50px;
  background-color: lightblue;
}
.footer__whitespace {
  flex: 1 1 auto;
}
.footer__github {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-self: flex-end;
  text-align: center;
  font-size: 24px;
}
.footer__icon {
  padding: 0 10px;
}

.booking-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.booking-cards__message {
  width: 100%;
  grid-column-start: 3;
  padding: 20px;
  font-size: 20px;
  color: #f54545;
  font-weight: bold;
}

.input-calendar {
  font-size: 16px;
}

.booking-card {
  display: grid;
  margin: 10px;
  border: 1px solid grey;
}
.booking-card__image {
  width: 100%;
  height: auto;
  padding: 0;
}
.booking-card__title {
  text-align: center;
  padding: 5px 10px;
  font-size: 20px;
  color: blue;
  font-weight: bold;
  margin-bottom: 10px;
}
.booking-card__panel {
  margin-top: 10px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.booking-card__price {
  font-size: 20px;
  font-weight: bold;
}
.booking-card__info {
  font-size: 14px;
}
.booking-card__button {
  padding: 10px;
  font-size: 18px;
}
.booking-card__properties {
  padding: 0 10px;
  font-weight: bold;
  display: grid;
  grid-auto-flow: column;
}

.booking-panel {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.datepicker {
  padding: 15px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #3ac4fa;
  border-radius: 5px;
  font-size: 16px;
}

.react-datepicker {
  align-self: center;
  justify-self: center;
}
.react-datepicker__wrapper {
  align-self: center;
  display: flex;
}

.input-calendar {
  text-align: center;
}

.counter {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 120px;
  height: 50px;
  border-radius: 5px;
  border: 1px solid #3ac4fa;
  border-radius: 1px solid black;
  background-color: #fff;
  padding: 10px;
  text-align: center;
  align-items: center;
}
.counter__number {
  font-size: 16px;
  width: 40%;
  margin: 0 auto;
  text-align: center;
}
.counter__increment, .counter__decrement {
  flex: 1 1 auto;
  height: 100%;
  font-size: 28px;
  cursor: pointer;
}

.hidden {
  visibility: hidden;
}

.form-select {
  display: flex;
  flex-direction: row;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 50px;
  border-radius: 5px;
  border: 1px solid #3ac4fa;
  border-radius: 1px solid black;
  background-color: #fff;
  padding: 10px;
  font-size: 16px;
}
.form-select__number {
  font-size: 16px;
  width: 50%;
  text-align: center;
}

@media screen and (max-width: 960px) {
  .booking-cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 720px) {
  .booking-panel {
    margin-top: 20px;
  }
}
@media screen and (max-width: 540px) {
  .booking-cards {
    display: grid;
    grid-template-columns: 1fr;
  }
  .form-label_booking-panel {
    font-size: 16px;
    padding: 10px;
    max-width: 130px;
    width: 100%;
    flex-grow: 1;
  }
  .input-container_booking-panel {
    width: 100%;
  }
  .react-datepicker {
    display: flex !important;
    flex-direction: column !important;
  }
}
@media screen and (max-width: 320px) {
  .form-label_booking-panel {
    font-weight: bold;
  }
  .react-datepicker {
    left: -25px;
  }
}
* {
  box-sizing: border-box;
}

h2 {
  text-align: center;
}

p {
  font-size: 14px;
  font-weight: 100;
  line-height: 20px;
  letter-spacing: 0.5px;
  margin: 20px 0 30px;
}

span {
  font-size: 12px;
}

.form-container button:active {
  transform: scale(0.95);
}

button:focus {
  outline: none;
}

.overlay__button {
  border-radius: 20px;
  border: 1px solid #1e11a9;
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
  background-color: transparent;
  border-color: #ffffff;
}

.form-container {
  position: absolute;
  top: 0;
  height: 100%;
  transition: all 0.6s ease-in-out;
  padding: 0 20px;
}
.form-container__form {
  grid-area: form;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 10px;
  height: 100%;
  width: 100%;
}
.form-container__button {
  border-radius: 20px;
  border: 1px solid #1e11a9;
  background-color: #1e11a9;
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
  margin: 8px 0;
}
.form-container__button_form-type {
  display: none;
}
.form-container__button_disabled {
  border-radius: 20px;
  border: 1px solid #1e11a9;
  background-color: #eee;
  color: #1e11a9;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
  margin: 8px 0;
}
.form-container__title {
  font-weight: bold;
  margin: 10px 0;
}
.form-container__user-edit {
  display: grid;
  grid-template-areas: "button" "form";
  grid-template-rows: 1fr 8fr;
}

.login-form,
.signup-form {
  font-size: 20px;
  margin: 0 auto;
  margin-top: 50px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  position: relative;
  overflow: hidden;
  width: 100%;
  max-width: 768px;
  min-height: 480px;
}

.sign-in-container {
  left: 0;
  width: 50%;
  z-index: 2;
}

.signup-form .sign-in-container {
  transform: translateX(100%);
}

.sign-up-container {
  left: 0;
  width: 50%;
  opacity: 0;
  z-index: 1;
}

.signup-form .sign-up-container {
  transform: translateX(100%);
  opacity: 1;
  z-index: 5;
  animation: show 0.6s;
}

@keyframes show {
  0%, 49.99% {
    opacity: 0;
    z-index: 1;
  }
  50%, 100% {
    opacity: 1;
    z-index: 5;
  }
}
.overlay-container {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: transform 0.6s ease-in-out;
  z-index: 100;
}

.signup-form .overlay-container {
  transform: translateX(-100%);
}

.overlay {
  background: linear-gradient(to right, #3ac4fa, #1e11a9);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
  color: #ffffff;
  position: relative;
  left: -100%;
  height: 100%;
  width: 200%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

.signup-form .overlay {
  transform: translateX(50%);
}

.overlay-panel {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  top: 0;
  height: 100%;
  width: 50%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

.overlay-left {
  transform: translateX(-20%);
}

.signup-form .overlay-left {
  transform: translateX(0);
}

.overlay-right {
  right: 0;
  transform: translateX(0);
}

.signup-form .overlay-right {
  transform: translateX(20%);
}

@media screen and (max-width: 720px) {
  .login-form,
  .signup-form {
    position: relative;
    max-width: none;
    width: 100%;
    display: flex;
    padding: 0 10px;
    margin-top: 0;
  }
  .overlay-container {
    display: none;
    width: 0;
  }
  .sign-in-container,
  .sign-up-container {
    width: 100%;
  }
  .signup-form .sign-up-container {
    transform: none;
    opacity: 1;
    z-index: 5;
    animation: show 0.6s;
  }
  .form-container__button_form-type {
    display: block;
  }
}
@media screen and (max-width: 320px) {
  .login-form,
  .signup-form {
    height: 600px;
  }
  .form-container {
    height: 100%;
  }
}
.input-container {
  display: flex;
  align-items: center;
  margin: 8px 0;
}
.input-container__label {
  min-width: 70px;
  text-align: left;
  font-size: 16px;
  word-wrap: normal;
}
.input-container__input {
  background-color: #fff;
  font-family: "Orchidea", sans-serif;
  flex-grow: 1;
  border-radius: 5px;
  border: 1px solid rgb(165, 165, 165);
  padding: 12px 0px 12px 15px;
  font-size: 16px;
  resize: none;
}
.input-container__input.is-invalid {
  box-shadow: 0 0 5px 2px #f54545;
}
.input-container__password-button {
  background-color: #fff;
  border: none;
  height: 100%;
  width: 2rem;
  opacity: 1;
}
.input-container__icon {
  stroke: black;
  stroke-width: 1;
}

.avatar-container {
  display: grid;
  grid-template-columns: 2fr 5fr;
  margin: 8px 0;
  height: 60px;
  width: 100%;
  align-items: center;
}
.avatar-container__group {
  display: grid;
  grid-template-columns: 4fr 2fr;
  justify-items: center;
  align-items: center;
}
.avatar-container__image {
  background-color: #3ac4fa;
  border-radius: 50%;
  height: 60px;
  border: 1px solid #1e11a9;
}
.avatar-container__label {
  font-size: 16px;
  word-wrap: normal;
}
.avatar-container__input {
  display: none;
}

.error-message {
  font-size: 18px;
  padding: 5px 0;
  color: rgba(255, 0, 0, 0.7882352941);
  font-weight: bold;
}

.avatar-button {
  background-color: rgba(56, 195, 250, 0.7);
  border-radius: 3px;
}

.radio-container {
  font-size: 16px;
  display: grid;
  margin: 8px 0;
  grid-template-columns: 2fr 5fr;
  width: 100%;
  height: 40px;
  align-items: center;
}
.radio-container__options {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-items: center;
  justify-content: space-between;
}

.input-group {
  display: flex;
  width: 100%;
  align-items: center;
  margin-left: 10px;
}

.form-control {
  width: 100%;
}

.form-label {
  margin-right: 10px;
}

.invalid-feedback {
  padding: 5px 0;
  font-size: 14px;
  font-weight: bold;
  color: rgba(255, 0, 0, 0.7882352941);
  grid-area: error;
  grid-column-start: 2;
  grid-column-end: 3;
  width: 100%;
  text-align: center;
}

@media screen and (max-width: 320px) {
  .input-container {
    flex-direction: column;
    gap: 20px;
    width: 100%;
    text-align: center;
  }
}
.dropdown {
  cursor: pointer;
}
.dropdown__wrapper {
  z-index: 1;
  height: 100%;
  width: 100%;
}
.dropdown__profile {
  display: flex;
  align-items: center;
  padding: 0 10px;
}
.dropdown__name {
  padding: 0 10px;
}
.dropdown__avatar {
  border: 1px solid #1e11a9;
  border-radius: 50%;
  background: #f1f1f1;
}
.dropdown__menu {
  display: block;
  margin-top: 5px;
  border-radius: 5px;
  position: absolute;
}
.dropdown__item {
  background-color: #3ac4fa;
  padding: 10px 20px;
  box-sizing: content-box;
  border: 1px solid #ffffff;
}
.dropdown__item:first-child {
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}
.dropdown__item:last-child {
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
.dropdown__item:hover {
  background-color: #80d4f5;
}

.user-wrapper {
  display: flex;
  justify-content: center;
  height: 100%;
}

.loader-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.userpage-title {
  font-size: 24px;
  font-weight: bold;
}

.user-content {
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  align-self: center;
}

.user__card {
  display: flex;
  font-size: 25px;
}
.user__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1 1 auto;
}
.user__avatar {
  height: 150px;
  width: 150px;
  border: 2px solid #1e11a9;
  border-radius: 15px;
}
.user__edit {
  align-self: flex-end;
  padding-right: 80px;
  z-index: 50;
  stroke: #1e11a9;
  stroke-width: 2;
}
.user__email, .user__sex, .user__username {
  margin: 25px 0;
}

.reviews {
  flex-grow: 1;
  display: flex;
  gap: 40px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.reviews__title {
  font-size: 32px;
  font-weight: bold;
}
.reviews__form {
  width: 40vw;
  font-size: 20px;
}
.reviews__button {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
  margin-top: 20px;
}

@media screen and (max-width: 960px) {
  .reviews {
    padding: 0 20px;
  }
  .reviews__form {
    width: 100%;
  }
}
@media screen and (max-width: 720px) {
  .reviews {
    width: 80%;
    padding: 20px 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .reviews__button {
    justify-content: center;
  }
  .user-wrapper {
    display: block;
  }
  .user-content {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  .user__info {
    font-size: 20px;
  }
}
@media screen and (max-width: 540px) {
  .reviews {
    width: 100%;
    padding: 20px 10px;
  }
  .reviews__title {
    font-size: 24px;
  }
}
.sidebar {
  max-width: 210px;
  width: 100%;
  border-left: 2px solid #3ac4fa;
  border-right: 2px solid #3ac4fa;
  display: flex;
  flex-direction: column;
  padding-top: 10px;
}
.sidebar__icon {
  display: flex;
}
.sidebar__item {
  stroke: #000000;
}
.sidebar__item.active {
  background-color: #3ac4fa;
  color: #ffffff;
  stroke: #ffffff;
  fill: #ffffff;
}
.sidebar__text {
  padding-left: 10px;
  font-weight: bold;
}
.sidebar__link {
  display: flex;
  flex-direction: row;
  padding: 20px 5px;
  font-size: 16px;
  stroke: inherit;
  stroke-width: 1.5;
  align-items: center;
}
.sidebar__link:hover {
  color: #ffffff;
  animation-name: hover-fill;
  animation-duration: 0.5s;
  background-color: #8ac4fa;
  fill: #ffffff;
  stroke: #ffffff;
}
.sidebar__burger {
  border: none;
}

@keyframes hover-fill {
  from {
    background-color: #ffffff;
    stroke: #000000;
    color: #000000;
  }
  100% {
    background-color: #8ac4fa;
    fill: #ffffff;
    color: #ffffff;
    stroke: #ffffff;
  }
}
@media screen and (max-width: 720px) {
  .sidebar {
    display: none;
  }
  .sidebar__burger {
    display: block;
  }
}
.burger__item {
  text-transform: uppercase;
  border: none;
  stroke: #3ac4fa;
}
.burger__item.active {
  stroke: #fff;
}

.user-bookings {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  flex-grow: 1;
}

.booking-info {
  border-bottom: 1px solid #1e11a9;
  font-size: 20px;
}
.booking-info__buttons {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  font-weight: bold;
  justify-content: center;
  gap: 16px;
}
.booking-info__room {
  max-width: 1024px;
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}
.booking-info__title {
  font-weight: bold;
}
.booking-info__description {
  padding-left: 16px;
  grid-area: "description";
}
.booking-info__image {
  width: 300px;
  height: auto;
}
.booking-info__record {
  max-width: 1024px;
  margin: 16px 0;
  display: grid;
  grid-template-columns: 3fr 4fr;
  align-items: center;
  gap: 0 16px;
}
.booking-info__about-room {
  display: flex;
  flex-direction: column;
  gap: 16px;
  flex-grow: 1;
  text-align: center;
}

.booking-info:last-child {
  border-bottom: none;
}

@keyframes hover-button {
  from {
    background-color: #c9e5fc;
  }
  100% {
    background-color: #8ac4fa;
    box-shadow: 2px 2px 5px #1e11a9;
    color: #ffffff;
  }
}
@media screen and (max-width: 960px) {
  .booking-info__room {
    flex-direction: column;
    gap: 16px;
  }
  .booking-info__image {
    width: 100%;
  }
}
@media screen and (max-width: 720px) {
  .user-bookings {
    padding: 20px 10px;
  }
}
@media screen and (max-width: 540px) {
  .booking-info__value {
    padding-left: 10px;
  }
  .booking-info__label {
    min-width: 125px;
  }
  .booking-info__title {
    text-align: center;
  }
}
@media screen and (max-width: 320px) {
  .booking-info__record {
    grid-template-columns: 1fr;
    gap: 16px;
    text-align: center;
  }
}
::-webkit-scrollbar {
  width: 8px; /* ширина для вертикального скролла */
  height: 8px; /* высота для горизонтального скролла */
  background-color: #e7e7e7;
}

::-webkit-scrollbar-thumb {
  background-color: #3ac4fa;
  border-radius: 9em;
  box-shadow: inset 1px 1px 10px #f3faf7;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #253861;
}

.admin-panel {
  display: flex;
  padding: 50px;
  overflow: auto;
  position: relative;
  flex-direction: column;
  justify-content: center;
  gap: 24px;
  flex-grow: 1;
  cursor: default;
}
.admin-panel__title {
  font-size: 32px;
  font-weight: bold;
}

.roomData-table,
.bookings-table {
  display: inline-block;
  vertical-align: top;
  overflow-x: auto;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}
.roomData-table__header,
.bookings-table__header {
  height: 50px;
  border-bottom: 1px solid #000000;
}
.roomData-table__title,
.bookings-table__title {
  font-size: 24px;
  padding: 10px 30px;
  stroke: #000000;
  stroke-width: 1;
}
.roomData-table__value,
.bookings-table__value {
  font-size: 18px;
  height: 50px;
  padding: 0 30px;
}
.roomData-table__row,
.bookings-table__row {
  height: 70px;
  border-bottom: 1px solid #000;
}

#price {
  width: 170px;
  border: none;
}

.bookings-table__value {
  padding: 0 20px;
}

.sort-direction {
  stroke: #000;
  stroke-width: 1;
}

.bookings-settings {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  font-size: 18px;
}

@media screen and (max-width: 720px) {
  .admin-panel {
    padding: 20px;
  }
  .admin-panel__title {
    font-size: 28px;
  }
  .bookings-table__title,
  .roomData-table__title {
    font-size: 20px;
  }
  .bookings-table__value,
  .roomData-table__value {
    font-size: 16px;
  }
}
@media screen and (max-width: 720px) {
  .bookings-settings {
    align-items: center;
    justify-content: center;
  }
}
.popup__container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  padding: 36px;
  box-sizing: border-box;
}
.popup__container_dropdown {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}
.popup__overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  cursor: pointer;
}
.popup__message {
  height: 100%;
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.popup__text {
  text-align: center;
  font-size: 20px;
  padding: 0 40px;
}

.full-screen-popup {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  padding: 36px;
  box-sizing: border-box;
}

.no-scroll {
  overflow: hidden;
}

.room-info {
  position: relative;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  font-size: 24px;
  line-height: 1.5;
  font-weight: bold;
}
.room-info__image {
  width: 100%;
  height: auto;
}
.room-info__guests {
  width: 100%;
  display: flex;
  gap: 15px;
  flex-direction: row;
  justify-content: center;
}
.room-info__numberOfGuests {
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 2px 2px 5px #1e11a9;
}
.room-info__numberOfGuests_active {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 100px;
  border: 2px solid #0ca60c;
  margin-right: 0px;
  cursor: pointer;
  background-color: #04ca04;
  color: white;
  border-radius: 10%;
  box-shadow: 2px 2px 5px #0ca60c;
}
.room-info__numberOfGuests_active:hover {
  border: 2px solid #0ca60c;
  background-color: #04ca04;
  color: white;
  box-shadow: 2px 2px 5px #0ca60c;
}
.room-info__price {
  font-weight: bold;
}

.room-description__title {
  font-size: 24px;
  font-weight: bold;
  text-align: left;
  margin-bottom: 16px;
}
.room-description__content-left {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media screen and (max-width: 960px) {
  .room-description {
    flex-direction: column;
    gap: 50px;
  }
  .room-description__content-left {
    display: flex;
    flex-direction: column;
    order: 2;
    gap: 40px;
  }
  .room-description__content-right {
    order: 1;
  }
  .room-description__properties, .room-description__amenities {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px 60px;
  }
  .room-description__icon {
    margin-right: 5px;
  }
  .room-description__text {
    font-weight: 400;
    text-align: left;
    padding-left: 10px;
  }
}
@media screen and (max-width: 720px) {
  .room-info__name {
    font-size: 24px;
  }
  .room-info__description, .room-info__info, .room-info__cost, .room-info__label {
    font-size: 18px;
  }
  .room-info__numberOfGuests {
    font-size: 16px;
  }
  .room-info__numberOfGuests_active {
    min-width: 0;
    font-size: 16px;
  }
}
@media screen and (max-width: 576px) {
  .room-description__content-left {
    min-width: auto;
  }
  .room-description__properties, .room-description__amenities {
    flex-direction: column;
    gap: 10px;
  }
  .room-info__guests {
    flex-wrap: wrap;
  }
}
.popup__booking {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
  border-radius: 16px;
  background-color: #fff;
  z-index: 1;
  font-size: 16px;
}
.popup__button-group {
  padding: 10px;
  align-self: flex-end;
}
.popup__booking-title {
  font-size: 24px;
  font-weight: bold;
  padding: 10px 0;
}
.popup__booking-card {
  font-size: 20px;
}
.popup__content {
  min-height: 30vh;
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 80vh;
  position: relative;
  padding: 10px;
  background-color: #fff;
  z-index: 1;
  width: 550px;
  font-size: 18px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.popup__response-message {
  min-height: 30vh;
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 80vh;
  position: relative;
  padding: 10px;
  background-color: #fff;
  z-index: 1;
  width: 550px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.popup__response-message p {
  font-size: 16px;
}

.popover {
  padding: 10px;
  z-index: 1;
  color: #fff;
  font-size: 18px;
  border-radius: 10px;
}

.cancel-button {
  margin: 0 10px;
  background-color: #ffffff;
  font-size: 20px;
  padding: 10px;
  border-radius: 5px;
  color: #f54545;
  font-weight: bold;
  border: 2px solid rgba(255, 0, 0, 0.7882352941);
}

.cancel-button:hover {
  animation-name: hover-delete-button;
  animation-duration: 0.5s;
  background-color: #f54545;
  box-shadow: 2px 2px 5px rgba(255, 0, 0, 0.7882352941);
  color: #ffffff;
}

@keyframes hover-cancel-button {
  from {
    background-color: #ffffff;
  }
  100% {
    background-color: #f54545;
    color: #ffffff;
  }
}
.confirm-button {
  margin: 0 10px;
  background-color: #ffffff;
  font-size: 20px;
  padding: 10px;
  border-radius: 5px;
  color: #04ca04;
  font-weight: bold;
  border: 2px solid #0ca60c;
}

.confirm-button:hover {
  animation-name: hover-confirm-button;
  animation-duration: 0.5s;
  background-color: #04ca04;
  box-shadow: 2px 2px 5px #0ca60c;
  color: #ffffff;
}

@keyframes hover-confirm-button {
  from {
    background-color: #ffffff;
  }
  100% {
    background-color: #04ca04;
    color: #ffffff;
  }
}
.booking-card__record {
  margin: 15px 0;
  display: grid;
  grid-template-columns: 2fr 3fr;
  align-items: center;
}

.room-status__free {
  padding: 10px 5px;
  background-color: #04ca04;
  border-radius: 10px;
  color: #ffffff;
  text-align: center;
}
.room-status__busy {
  padding: 10px;
  background-color: #f54545;
  border-radius: 10px;
  color: #ffffff;
  text-align: center;
}

.admin-panel__content {
  min-height: 30vh;
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 80vh;
  position: relative;
  padding: 10px;
  background-color: #fff;
  z-index: 1;
  width: 550px;
  font-size: 18px;
  border-radius: 10px;
}

.check-inputs {
  display: flex;
  flex-wrap: wrap;
}

.form-check {
  margin: 5px;
}
.form-check-label {
  padding: 5px;
  pointer-events: none;
}

.form-select__roomTypes {
  background-color: #fff;
  font-size: 16px;
  font-family: "Orchidea", sans-serif;
  padding: 12px 0 12px 15px;
  border: 1px solid rgb(165, 165, 165);
  border-radius: 5px;
}

.pricelist__container {
  width: 100%;
}

.close-button {
  width: 40px;
  height: 40px;
  right: 10px;
  border-radius: 40px;
  position: absolute;
  z-index: 1;
  cursor: pointer;
}

.close-button:before {
  content: "+";
  color: #337ab7;
  position: absolute;
  z-index: 2;
  transform: rotate(45deg);
  font-size: 50px;
  line-height: 1;
  top: -5px;
  left: 6px;
  transition: all 0.3s cubic-bezier(0.77, 0, 0.2, 0.85);
}

.close-button:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background: #337ab7;
  z-index: 1;
  transition: all 0.3s cubic-bezier(0.77, 0, 0.2, 0.85);
  transform: scale(0.01);
}

.close-button:hover:after {
  transform: scale(1);
}

.close-button:hover:before {
  transform: scale(0.8) rotate(45deg);
  color: #fff;
}

.remove-button {
  background-color: inherit;
  display: inline-flex;
  width: 1rem;
  height: 1rem;
  position: relative;
  cursor: pointer;
}

.remove-button::before,
.remove-button::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1rem;
  height: 0.1rem;
  background-color: #f00;
  margin: -0.05rem 0 0 -0.4rem;
  transform: rotate(-45deg);
  border-radius: 0.1rem;
}

.remove-button::after {
  transform: rotate(45deg);
}

.reviews-content {
  display: flex;
  flex-direction: column;
  max-width: 960px;
  gap: 30px;
  padding: 20px;
}

.review-message {
  align-self: flex-start;
  height: 200px;
  width: 500px;
  display: flex;
  flex-direction: column;
  border: 1px solid #000000;
  border-radius: 10px;
  background-color: #8ac4fa;
}

.review-message p {
  font-size: 18px;
  margin: 0;
}

.review-message span {
  font-size: 16px;
}

.review-message_flipped {
  height: 200px;
  width: 500px;
  align-self: flex-end;
  border: 1px solid #000000;
  border-radius: 10px;
  background-color: #7df9a6;
}

.reviews-message__content {
  grid-area: content;
}

.review__username {
  padding: 0;
  margin: 0;
  font-weight: bold;
}

.review__container {
  width: 40vw;
}

.review {
  height: 150px;
  padding: 10px;
}
.review__user {
  padding: 10px;
  height: 80px;
  display: flex;
  flex-direction: row;
  gap: 20px;
  position: relative;
}
.review__info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
}
.review__content {
  padding: 10px;
}
.review__avatar {
  height: 60px;
  width: 60px;
  flex-grow: 0;
  border: 1px solid #1e11a9;
  border-radius: 50%;
  background-color: #fff;
}
.review__remove {
  position: absolute;
  right: 10px;
  top: 10px;
}

@media screen and (max-width: 960px) {
  .reviews-content {
    padding: 20px 16px;
  }
  .review-message {
    padding: 0 20px;
    height: auto;
  }
  .review-message p {
    font-size: 16px;
  }
  .review-message span {
    font-size: 14px;
  }
}
@media screen and (max-width: 720px) {
  .review-message {
    width: 80%;
  }
}
@media screen and (max-width: 540px) {
  .review-message {
    width: 90%;
    padding: 0 15px;
  }
}
.pagination {
  display: flex;
  flex-direction: row;
  font-size: 20px;
}
.pagination__container {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}
.pagination__text {
  display: flex;
  align-items: center;
  padding: 0 5px;
}

.page-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  padding: 5px;
}
.page-item.active {
  font-weight: bold;
  border: 1px solid black;
}

.page-link {
  background-color: #ffffff;
  font-weight: inherit;
  font-size: inherit;
}