.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

    &__top-bar {
        display: flex;
        flex-direction: row;
        width: 100%;
        margin: 0 auto;
        height: 56px;
        background-color: $mainColor;
        font-size: 20px;
        color: white;
        box-shadow: 10px 5px 5px $hoverColor;
        z-index: 20;
    }

    &__content {
        width: 100%;
        display: flex;
        text-align: center;
        justify-content: space-between;
        align-items: center;
    }

    &__contacts {
        display: flex;
        flex-direction: row;
        flex: 1 1 auto;
        width: 100%;
    }

    &__mail {
        margin-left: 20px;
    }

    &__navigation {
        max-width: 1200px;
        display: flex;
        justify-content: right;
        align-items: center;
        width: 100%;
        height: 100px;
    }

    &__links {
        display: flex;
        flex-direction: row;
    }

    &__logo {
        width: 100%;
        height: 80px;
        background-image: url("../public/img/logo.png");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
    }

    &__link {
        font-size: 14px;
        padding: 20px 16px;
        text-decoration: none;
        font-weight: 600;
        color: black;
        white-space: nowrap;
    }

    &__button {
        background: none;
        border-radius: 20px;
        border: 1px solid #ffffff;
        font-weight: bold;  
        font-size: 12px;
        padding: 5px 15px;
        letter-spacing: 1px;
        text-transform: uppercase;
        transition: transform 80ms ease-in;
        margin: 8px;
    }

    &__bookings {
        border: 1px solid #ffffff;
        border-radius: 5px;
        padding: 5px;
    }

    &__dropdown {
        display: none;
        margin-right: 10px;
        position: relative;
        width: 30px;
        height: 20px;
        background-color: transparent;
        
        & span {
            top: 9px;
            
        }

        &::before,
        &::after,
        & span {
            position: absolute;
            left: 0;
            content: '';
            height: 2px;
            width: 100%;
            background-color: #fff;
        }

        &::before {
            top: 0;
        }
        &::after {
            bottom: 0;
        }
    }
}

.sidebar{
    &__line::before {
    position: absolute;
    left: 5px;
    top: 10px;  
    content: '';
    height: 2px;
    width: 80%;
}

    &__menu {
        display: block;
        position: absolute;
        background-color: #f4f3f3;
        color:$mainColor;
        font-size: 16px;
        font-weight: 600;
        right: 0;
        top: 56px;
        padding: 10px;
        max-width: 320px;
        width: 100%;
        height: 100%;
    }

    &__links {
        display: flex;
        flex-direction: column;
    }
    &__link {
        padding: 15px 0;
    }
}


@media screen and (max-width: 960px) {
    .header {
        &__link {
            padding: 20px 8px;
        }
    }
}

@media screen and (max-width: 720px) {
    .header {
        &__content {
            justify-content: right;
            gap: 10px;
        }
        &__contacts {
            display: none;
        }
        &__button {
            margin-right: auto ;
            max-width: 200px;

            &_hidden {
                display: none;
            }
        }
        &__dropdown {
            display: block;
        }
        &__navigation {
            display: none;
        }
    }
}