::-webkit-scrollbar {
    width: 8px; /* ширина для вертикального скролла */
    height: 8px; /* высота для горизонтального скролла */
    background-color: #e7e7e7;
}
::-webkit-scrollbar-thumb {
    background-color: $mainColor;
    border-radius: 9em;
    box-shadow: inset 1px 1px 10px #f3faf7;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #253861;
}
.admin-panel {
    display: flex;
    padding: 50px;
    overflow: auto;
	position: relative;
    flex-direction: column;
    justify-content: center;
    gap: 24px;
    flex-grow: 1;
    cursor: default;

    &__title {
        font-size: 32px;
        font-weight: bold;
    }
}
.roomData-table,
.bookings-table {
    display: inline-block;
	vertical-align: top;
	overflow-x: auto;
	white-space: nowrap;
	-webkit-overflow-scrolling: touch;

    &__header {
        height: 50px;
        border-bottom: 1px solid #000000;
    }
    &__title {
        font-size: 24px;
        padding: 10px 30px;
        stroke: #000000;
        stroke-width: 1;
    }

    &__value {
        font-size: 18px;
        height: 50px;
        padding: 0 30px;
    }

    &__row {
        height: 70px;
        border-bottom: 1px solid #000;
    }
}

#price {
    width: 170px;
    border: none;
}

.bookings-table {
    &__value {
        padding: 0 20px;
    }
}

.sort-direction {
    stroke: #000;
    stroke-width: 1;
}

.bookings-settings {
    display: flex;  
    gap: 20px;
    flex-wrap: wrap;
    font-size: 18px;
}

@media screen and (max-width: 720px) {
    .admin-panel {
        padding: 20px;
        &__title {
            font-size: 28px;
        }
    }
    .bookings-table,
    .roomData-table {
        &__title {
            font-size: 20px;
        }
        &__value {
            font-size: 16px;
        }
    }
}

@media screen and (max-width: 720px) {
    .bookings-settings {
        align-items: center;
        justify-content: center;
    }
}