.user-bookings {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}

.booking-info {
    border-bottom: 1px solid $borderColor;
    font-size: 20px;

    &__buttons {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
        font-weight: bold;
        justify-content: center;
        gap: 16px;
    }
    &__room {
        display: flex;
        align-items: center;
        margin-bottom: 16px;
    }
    &__title {
        font-weight: bold;
    }

    &__description {
        padding-left: 16px;
        grid-area: "description";
    }
    &__image {
        width: 300px;
        height: auto;
    }
    &__record {
        margin: 16px 0;
        display: grid;
        grid-template-columns: 2fr 3fr;
        align-items: center;
        gap: 0 16px;
    }
    &__about-room {
        display: flex;
        flex-direction: column;
        gap: 16px;
        text-align: center;
    }
}

.booking-info:last-child {
    border-bottom: none;
}

@keyframes hover-button {
    from {
        background-color: $buttonColor;
    }
    100% {
        background-color: $hoverColor;
        box-shadow: 2px 2px 5px $borderColor;

        color: #ffffff;
    }
}

@media screen and (max-width: 960px) {
    .booking-info {
        &__room {
            flex-direction: column;
            gap: 16px;
        }
        &__image {
            width: 100%;
        }
    }
}
@media screen and (max-width: 720px) {
    .user-bookings {
        padding: 20px 10px;
    }
}

@media screen and (max-width: 540px) {
    .booking-info {
        &__value {
            padding-left: 10px;
        }

        &__label {
            min-width: 125px;
        }
        &__title {
            text-align: center;
        }
    }
}

@media screen and (max-width: 320px) {
    .booking-info {
        &__record {
                grid-template-columns: 1fr;
                gap: 16px;
                text-align: center;
        }
    }
}