.room-info {
    position: relative;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    font-size: 24px;
    line-height: 1.5;
    font-weight: bold;

    &__image {
        width: 100%;
        height: auto;
    }

    &__guests {
        width: 100%;
        display: flex;
        gap: 15px;
        flex-direction: row;
        justify-content: center;
    }

    &__numberOfGuests {
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 2px 2px 5px $borderColor;

        &_active {
            display: flex;
            align-items: center;
            justify-content: center;
            min-width: 100px;
            border: 2px solid $borderConfirmColor;
            margin-right: 0px;
            cursor: pointer;
            background-color: $confirmButtonColor;
            color: white;
            border-radius: 10%;
            box-shadow: 2px 2px 5px $borderConfirmColor;

            &:hover  {
                border: 2px solid $borderConfirmColor;
                background-color: $confirmButtonColor;
                color: white;
                box-shadow: 2px 2px 5px $borderConfirmColor;
            }
        }
    }
    &__price {
        font-weight: bold;
    }
}

.room-description {
    &__title {
        font-size: 24px;
        font-weight: bold;
        text-align: left;
        margin-bottom: 16px;
    }

    &__content-left {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
}


@media screen and (max-width: 960px) {
    .room-description {
        flex-direction: column;
        gap: 50px;
        &__content-left {
            display: flex;
            flex-direction: column;
            order: 2;
            gap: 40px;
        }
        &__content-right {
            order: 1;
        }

        &__properties,
        &__amenities {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 20px 60px;
        }
        &__icon {
            margin-right: 5px;
        }
        &__text {
            font-weight: 400;
            text-align: left;
            padding-left: 10px;
        }
    }
}

@media screen and (max-width: 720px) {
    .room-info {
        &__name {
            font-size: 24px;
        }
        &__description,
        &__info,
        &__cost,
        &__label
         {
            font-size: 18px;
        }

        &__numberOfGuests {
            font-size: 16px;

            &_active {
                min-width: 0;
                font-size: 16px;
            }
        }
    }

}


@media screen and (max-width: 576px) {
    .room-description {
        &__content-left {
            min-width: auto;
        }
        &__properties,
        &__amenities {
            flex-direction: column;
            gap: 10px;
        }
    }
    .room-info {
        &__guests {
            flex-wrap: wrap;
        }
    }
}